.container {
  width: 100%;
  max-width: 500px;
  /* border: 2px solid black; */
  height: 100%;
  background-color: #000000;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
  gap: 3em;
  width: 100vw;
  max-width: 500px;
  padding: 10px;
  /* border: 2px solid black; */
}
.header {
  font-size: 2em;
  color: #fcf876;
  padding: 10px;
  text-shadow: 0 0 10px #fcf876;
  font-family: "calibri";
  text-align: center;
}
.suhuIcon i {
  color: #fcf876;
  text-shadow: 0 0 10px #fcf876;
}
.suhuIcon {
  text-align: left;
  width: 100%;
  font-size: 2.5em;
  /* border: 2px solid black; */
  color: #ff67e7;
  text-shadow: 0 0 10px #ff67e7;

  display: flex;
  align-items: center;
  gap: 2px;
  font-family: "calibri";
}
.suhuContainer {
  padding: 0.5em;
  border: 2px solid #c400ff;
  width: fit-content;
  min-width: 90%;
  height: 30%;
  /* max-width: 300px; */
  /* height: 300px; */
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px 0 #c400ff;
}
.suhuValue {
  font-size: 6em;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  text-shadow: 0 0 10px #0cecdd;
  color: #0cecdd;
}
.suhuValue div sup {
  font-size: 0.4em;
  position: absolute;
  color: #ff67e7;
  text-shadow: 0 0 10px #c400ff;
}
.suhuSatuan {
  color: #fff338;
  text-shadow: 0 0 10px #fff338;
  font-weight: 700;
}
